body{
    margin:0;
    padding:0;
    width:100vw;
    overflow:hidden;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
main{
    margin:0 ;
}
.rotate90{
    transform: rotate(90deg);
}
main sidebar{
    width: 300px;
    background-color: rgba(43, 43, 43, 0.76);
    height:100vh;
    position:fixed;
}
main sidebar button{
    width:300px;
    background-color: black;
    border-radius:15px;
    color:white;
}
main sidebar ul{
    list-style-type: none;
    color:white;
}
main sidebar ul li{
    display:flex;
    
    text-align:center;
}
main sidebar ul li div{
    display:flex;
    align-items: center;
    width:200px;
    height:20px;
    padding:0.5em;
    margin: 5px;
    background-color:black;
    border-radius: 15px;
}
main sidebar ul li div span{
    justify-content: center;
}
.sidebar-link{
    cursor:pointer;
}